@import "bootstrap";
@import "bootstrap-icons";

body {
    font-family: 'Roboto', Arial sans-serif;
    background: rgba(193, 193, 193, .6);
}

.card-title:hover {
    transition: transform .1s ease-in;
    font-weight: bolder;
    cursor: pointer;
    color: rgba(20, 64, 122, 0.7);
    transform: scale(1.1);
}

a.active {
    font-weight: bolder;
    transform: scale(1.1);
}
